body{
    font-family:"Montserrat-Medium" ;
}

/* global */

 @font-face {
    font-family: "Montserrat-Bold";
    src: url(../static/Montserrat-Bold.ttf);
}
 @font-face {
    font-family: "Montserrat-Medium";
    src: url(../static/Montserrat-Medium.ttf);
}
.f-w{
    font-family: "Montserrat-Bold";
    letter-spacing: 2px;
    font-weight: 900;
}
.f-color{
    color:#748182;
    font-size: 15px;
}
.w-fit-content{
    width: fit-content;

}

.list-style{
    list-style: none;
}
/* end global */


/* start nav */
nav{
    position: fixed;
    width: 100%;
    background-color: rgba(12, 20, 61, 0.76);

}
.navbar .navbar-brand{
    color:white
}

.navbar .nav-link.active,
.navbar .nav-link{
    color:white;
   
}
.navbar .nav-link{
 
    position: relative;
}
.navbar .nav-link::after{
    content: '';
    width:0%;
    position: absolute;
    height: 3px;
    background-color: rgb(253, 253, 253);
    transition: .5s;
    bottom: 0;
    left: 0;
}
.navbar .nav-link:hover:after{

    width:100%;
   
}

/* end nav */
/* start header */
header{
    background-image: url(../imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     background-attachment: fixed; 
    height: 100vh;
}
header .layer{
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    height: 100%;
}
header .layer .home span{
    font-size: 50px;
  
}
header .layer .home h1{
    font-size: 60px;
  
}
/* end header */

/* start about */

.about .inner p{
    line-height: 1.7;
}
.about .inner .two:hover,
.about .inner .one{
   background-color: rgb(0, 0, 0);
   padding: 10px 30px;
   color:rgb(255, 255, 255);
   font-size: 13px;
   transition: .5s;
}
.about .inner .one:hover,
.about .inner .two{
    background-color: white;
    padding: 10px 30px;
    color:rgb(0, 0, 0);
    font-size: 13px;
    border: 1px solid #000;
    transition: .5s;
 }
/* end about */
/* start Services */
.Services{
    background-color:#F7F7F7 ;
    padding: 100px 0;
}
.Services .inner{
 
    padding: 50px 20px;
}
  h3{
    position: relative;
    z-index: 2;
    /* font-weight: 900; */
    width:fit-content
}
  h3::after{
    content: "";
    position: absolute;
    background-image: url(../imgs/dots.png);
    width: 100%;
    height: 100%;
    top:0;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
}
.Services .inner .icon{
    width: 60px;
    height: 60px;
    background-color: #F7F7F7;
    border-radius: 50%;
    transition: .5s;
}
.Services .inner .icon i{
    font-size: 20px;   
  transition: .5s;
}
.Services .inner:hover .icon {
    background-color: #000000;   
  
}
.Services .inner:hover .icon i{
    color: #ffffff;   
  
}
.Services .inner p{
    color: #9a9c9c;   
    font-size: 14px;
}
/* end Services */

/* start portfolio */
.portfolio .inner {
    overflow: hidden;
}
.portfolio .inner .layer{
    position: absolute;
    background-color: #fff;
    /* inset: 5px; */
    left:5px;
    right: 5px;
    top:10px;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}

.portfolio .inner .layer .info{
    opacity: 0;
    transition: 2s;
}
.portfolio .inner:hover .layer .info{
    opacity: 1;
}
.portfolio .inner:hover .layer .info h6{
    transition: .5s;

}
.portfolio .inner .layer .info .icons{
    margin-top: 20px;
    transition: .5s;
    
}
.portfolio .inner .layer .info .icons span{
   width: 35px;
   height: 35px;
   background-color: black;
   border-radius: 50%;
   transition: .5s;
   
}
.portfolio .inner .layer .info .icons span i{
    padding:8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    color:rgb(255, 255, 255);
    transition: .5s;


}
.portfolio .inner .layer .info .icons span:hover i{
    padding:8px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color:rgb(0, 0, 0);
    transition: .5s;

}
.portfolio .inner .layer:hover .info .icons{
    margin-top: 0;
}
.portfolio .inner:hover .layer{
    inset: 5px;
    opacity: 1;
}
/* end portfolio */
/* start Testimonials */
.Testimonials{
    background-color:#F7F7F7 ;
    padding: 100px 0;
}
.carousel-item img{
    width: 100px;
    height: 100px;
}
.carousel-item span{
    font-size: 12px;
    color:#888;
    margin-top: 0;
}


.carousel-indicators [data-bs-target]{
      width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
  
}
/* end Testimonials */

/* start counter */
.counter .inner i{
    font-size: 30px;
    margin-bottom: 20px;
}
.counter .inner h4{
    font-size: 30px;
    font-weight: 900;
}
/* end counter */

/* start team */
.team .inner .img{
    overflow: hidden;
    position: relative;
}
 .team .inner .img img{
    transition: .5s;
 } 

.team .inner .img:hover img {
    transform: scale(1.2);
}
.team .inner .img .layer {
    background-color: #ffffff;
    position: absolute;
    inset:5px;
    transform: rotateY(180deg) scale(0);
    opacity: 0;
    transition: .7s;
}
.team .inner .img:hover .layer {

    transform: rotateY(0deg) scale(1);
    opacity: 1;
    
}
.team .inner ul li {
    background-color: #020202;
    width: 45px;
    height: 45px;
    margin-right: 5px;
}
.team .inner ul li i{
   color:#fff;
   background-color: rgb(0, 0, 0);
   padding: 12px;
   font-size: 18px;
   transition: .5s;
   border-radius: 50%;
}

.team .inner ul li:hover i{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

 }



.team .inner .footer {
    background-color: #5A5A5A;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
}

/* end team */

/* start contact */
.contact .inner .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F4F4F4;
    transition: .5s;
}

.contact .inner .icon i{
   font-size: 21px;
}
.contact .inner:hover .icon{
background-color: black;
}
.contact .inner:hover .icon i{
    color: #F4F4F4;
    }
.contact .inner p{
  
    color: #818889;
}
.contact .input-filld input{
    margin-top: 50px;

}
.contact .btn{
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: black;
    color: #F4F4F4;
    border-radius: 8px;
    transition: .5s;
}
.contact .btn:hover{

    padding: 10px 30px;
    border-radius: 10px;
    background-color:  #F4F4F4;
    color: #000000;
    border-radius: 8px;
    }
/* end contact */
/* footer */
footer{
    background-color:#1C1C1C ;
    text-align: center;
}
footer span{
    color:#748182
}